@charset "UTF-8";
/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
.button:link, .button:visited {
  color: #f6eb70; }

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #f6eb70;
  background-color: #f6eb70; }

.reveal {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #333; }

::selection {
  color: #fff;
  background: #eb878a;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #eb878a;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #cf2328;
  font-family: "Gloria Hallelujah", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #cf2328;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #e35b5f;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #8e181b; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #cf2328;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #cf2328; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #cf2328; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #f6eb70; } }

.reveal section img {
  border: none; }

.reveal h2 {
  font-family: Ubuntu, Helvetica, sans-serif; }

.reveal .mission {
  margin-top: 4em; }
  .reveal .mission > h1, .reveal .mission > h2 {
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.6em; }
  .reveal .mission > h1 {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #cf2328; }
  .reveal .mission > h2 {
    color: #ffd800; }

section[data-background-image] h1, section[data-background-image] h2, section[data-background-image] h3 h4,
section[data-background] h1,
section[data-background] h2,
section[data-background] h3 h4 {
  color: #cf2328;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.7); }

section.alternate--quote {
  padding: 0; }

blockquote.verses > p {
  max-width: 26em; }

.quote {
  display: flex;
  max-width: 100%;
  position: relative;
  min-height: 15em;
  justify-content: center; }
  *:not(.alternate) > .quote {
    margin-top: 32px;
    margin-bottom: 32px; }
  .quote > blockquote {
    align-self: center;
    margin: .5rem;
    padding: 0;
    font-size: 1.2em;
    font-style: italic;
    width: 55rem;
    background: transparent;
    border: none; }
    .quote > blockquote:not(.verses) {
      text-align: center; }
    .quote > blockquote.verses {
      text-align: left; }
    .quote > blockquote:only-child {
      margin: auto; }
    @media screen and (min-width: 1024px) {
      .quote > blockquote {
        font-size: 1.4em; } }
    .quote > blockquote > p::before, .quote > blockquote > p::after {
      font-size: 2rem;
      line-height: 1.4rem;
      color: #cf2328; }
    .quote > blockquote > p:first-of-type::before {
      content: "„"; }
    .quote > blockquote > p:last-of-type::after {
      content: "“"; }
  .quote > figure.quote__image {
    width: 30%;
    min-width: 20rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem !important; }
    .quote > figure.quote__image > img {
      object-fit: cover;
      position: absolute;
      /*top: 0;
       *left: 0;
       *width: 100%;
       *height: 100%;*/
      width: 20rem;
      height: 20rem;
      border-radius: 50%; }
    @media screen and (max-width: 768px) {
      .quote > figure.quote__image {
        min-width: 10rem;
        margin: 0; }
        .quote > figure.quote__image > img {
          width: 10rem;
          height: 10rem; } }
    .quote > figure.quote__image > .image-attribution {
      top: inherit;
      margin-top: 13rem;
      background: rgba(255, 255, 255, 0.3);
      text-align: center;
      transition: background .4s ease; }
    .quote > figure.quote__image:hover .image-attribution {
      background: rgba(255, 255, 255, 0.6); }
    @media screen and (max-width: 768px) {
      .quote > figure.quote__image {
        min-width: 10rem; }
        .quote > figure.quote__image > img {
          width: 10rem;
          height: 10rem; }
        .quote > figure.quote__image > .image-attribution {
          margin-top: 6.5rem; } }
  .quote .author--name {
    display: block;
    font-style: normal;
    font-size: .8em;
    line-height: 1.2;
    margin-top: .5em; }
    .quote .author--name > strong {
      text-transform: uppercase;
      font-family: "Ubuntu Medium", Ubuntu, sans-serif;
      font-weight: normal;
      color: inherit; }
  .quote .author--occupation,
  .quote .author--source {
    font-size: .7em;
    display: block;
    font-style: normal;
    padding: 0 64px; }

.image-attribution {
  padding: .2em; }
  .image-attribution, .image-attribution a {
    font-size: .6rem;
    font-weight: lighter;
    color: #555; }

figure {
  position: relative; }
  figure > .image-attribution {
    position: absolute;
    top: 100%; }
  figure.is-wide {
    margin-left: 0;
    margin-right: 0; }
    figure.is-wide img {
      object-fit: cover;
      max-height: 18em;
      width: 100%; }
  figure.is-right {
    float: right;
    clear: right;
    margin-right: 0; }
  figure.is-left {
    float: left;
    clear: left;
    margin-left: 0; }
  figure.is-left, .content figure.is-left, figure.is-right, .content figure.is-right {
    max-width: 45%;
    margin-top: 0; }
  figure:not(.is-right):not(.is-left):not(.is-wide) {
    margin: auto; }

.figcaption {
  padding: .5em; }
  .figcaption--inline {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-right: 1em;
    color: #fff;
    text-shadow: 2px 2px 2px #111;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%); }

.quote {
  font-size: 70% !important; }
  .quote > blockquote {
    box-shadow: none; }

.reveal .image-attribution {
  font-size: .6rem;
  padding: .2em; }

.reveal .stationen {
  font-size: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.reveal .stationen > .station {
  margin: .3em;
  width: 5em; }

.reveal .station__thumb {
  margin: 0;
  box-shadow: none;
  max-width: initial;
  max-height: initial;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  object-fit: cover; }

.reveal .station__title {
  display: block;
  font-weight: 600;
  font-family: "Gloria Hallelujah", sans-serif; }

svg path {
  fill: #cf2328; }
