/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

@import "./misiones/bulma/sass/utilities/initial-variables.sass";
@import "./misiones/bulma/sass/utilities/mixins.sass";

@import "./misiones/_variables.sass";

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $freude-light;

$mainColor: #333;
$headingColor: $taubenrot;

$mainFontSize: 42px;
$mainFont: Ubuntu, Helvetica, sans-serif;
$headingFont: 'Gloria Hallelujah', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #cf2328;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
  border: none;
}

.reveal h2 {
  font-family: $mainFont;
}

.reveal .mission {
  margin-top: 4em;

  > h1, > h2 {
    font-weight: 500;
    //text-shadow: 0 0 1em rgba(0,0,0,0.4), 2px 2px 5px rgba(0,0,0,.7);
    line-height: 1.1;
    font-size: 1.6em;
  }

  > h1 {
    font-family: $mainFont;
    color: $taubenrot;
  }
  > h2 {
    color: $freude;
  }
}

section[data-background-image],
section[data-background] {
  h1, h2, h3 h4 {
    color: $taubenrot;
    text-shadow: 0 0 1em rgba(0,0,0,0.4), 2px 2px 5px rgba(0,0,0,.7);
  }
}

@import "./misiones/components/quote.sass";
@import "./misiones/components/figure.sass";
.quote {
  font-size: 70% !important;
  > blockquote {
    box-shadow: none;
  }
}

.reveal .image-attribution {
  font-size: .6rem;
  padding: .2em
}
$thumb_size: 5em;
//@import "../../../../misiones-glauben-leben.de/source/_sass/components/_stationen.scss";

.reveal .stationen {
  font-size: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reveal .stationen > .station {
  margin: .3em;
  width: $thumb_size;
}
.reveal .station__thumb {
  margin: 0;
  box-shadow: none;
  max-width: initial;
  max-height: initial;
  border-radius: 50%;
  width: $thumb-size;
  height: $thumb-size;
  object-fit: cover;
}
.reveal .station__title {
  display: block;
  font-weight: 600;
  font-family: "Gloria Hallelujah", sans-serif;
}

svg path {
  fill: $taubenrot;
}
